/** ====================================
Base font settings
====================================**/

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

@import url ('<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Chau+Philomene+One:ital@0;1&display=swap" rel="stylesheet">')

$body-font: 'Arsenal'
$headline-font:'Chau Philomene One'
$pre-font: 'Arsenal'
  
