/** ====================================
Base font settings
====================================**/

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Chau+Philomene+One:ital@0;1&display=swap');

$body-font: 'Arsenal';
$headline-font:'Chau Philomene One';
$pre-font: 'Arsenal';
